* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.nav {
  display: flex;
  padding: 0;
  border: 1px solid;
  justify-content: space-between;
}
.nav-title {
  padding-left: 5%;
}
.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40%;
}
a {
  text-decoration: none;
}
li {
  text-align: center;
}
.active {
  font-weight: bold;
}
.btn {
  background-color: rgb(124, 230, 230);
  box-shadow: 2px 2px;
  border: 2px solid;
}
