body {
  background-color: lightgray;
}
h1 {
  text-align: center;
}
.container {
  margin: auto;
  width: 70%;
}
.row-1,
.row-2,
.row-3 {
  display: flex;
  margin: 20px;
}
.row-1 {
  background-color: skyblue;
}
.row-2 {
  background-color: palevioletred;
}
.row-3 {
  background-color: wheat;
}
img.octocat {
  height: 200px;
  margin: 10px;
}
.justify-around {
  justify-content: space-around;
}
footer {
  text-align: center;
}
.flex-center {
  justify-content: center;
}
