.row {
  display: flex;
  margin: 10px;
  gap: 5px;
}
.col {
  flex: 1;
  flex-direction: row;
  background-color: blue;
}
.col-2 {
  flex: 2;
  flex-direction: row;
  background-color: rgb(89, 0, 255);
}
.col-3 {
  flex: 3;
  flex-direction: row;
  background-color: rgb(153, 0, 255);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
